
/* Employee Management */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/banner12.jfif");
   background-position: center;
   background-size: cover ;
   position: relative;
}


.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color:white;
}

.hero-btn{
    display: inline-block;
    text-decoration:none;
    color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f43636fb;
    background: #f43636fb;
    transition:1s;
    text-decoration: none;
    color: #fff;
} 

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
    
@media(max-width: 700px){
    .text-box h1{
    font-size: 20px;
    }
}



/* Sidebar */

.app {
  /* without display flex the mobile view is okay but the desktop view is not ok */
    display: flex;
    min-height: 100vh;
}


.sidebar {
    flex: 1 1 0;
    max-width: 300px;
    padding: 10px 15px 8px 10px;
    background-color: #3f3f56;

}

.sidebar h3 {
    color: #707793;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-left: 18px;
}

.sidebar .nav-links {
	  margin: 0 -1rem;
}

.sidebar .nav-links .menu-item {
    display: block;
    padding: 1em;
    padding-bottom: 1px;
    color: #FFF;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .nav-links .menu-item:hover,
.sidebar .nav-links .menu-item.is-active {
    color: #3bba9c;
    border-right: 5px solid #3bba9c;
}




.sidebar .nav-links .menu-item:hover {
	  border-right: 5px solid #3bba9c;
}

.content {
    flex: 1 1 0;
    padding: 10px 10px 10px 10px;
}

.content h1 {
    color: #3C3F58;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.content p {
	  color: #707793;
}

nav .fa{
    display: none;
}

.content .burger {
    display: none;
}




@media (max-width: 780px) {
  .sidebar {
		max-width: 200px;
    z-index: 1;
	}
}


@media (max-width: 768px) {


 .sidebar .nav-links .menu-item {
      display: block;
      padding-left: 25px;
}
  .nav-links h3{
      margin-top: -18px;
      margin-left: 25px;

}
  .nav-links{
      position:fixed;
      background: #3f3f56;
      height: 500vh;
      width: 200px;
      top: 0%;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 2s;
}
  nav .fa{
      display: block;
      color: white;
      margin-top: 10px;
      margin-left: 170px;
      font-size: 22px;
      cursor: pointer;
}

  .content {
      margin-top: -25px;
 
	
	}
	.sidebar {
      position: fixed;
      top: 0;
      left: -300px;
      height: 200vh;
      width: 200px;
      max-width: 300px;
      transition: 2s;
	}

	.sidebar.is-active {
	  	left: 0;
} 

  .content .burger{
      display: block;
      color: black;
      margin-left: 0px;
      margin-top: 0px;
      font-size: 22px;
      cursor: pointer;
  }


}



/* search bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }

    .app {
      /* without display flex the mobile view is okay but the desktop view is not ok, we used flex-direction to arrange the mobile view*/
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
  

  }

  /* icons */

  .icon .fa-solid{
    color:#f43636;
    padding-right: 10px;

  }

  .table-responsive {
    text-align: center;
   }


   /* addemp */

   .content {
    padding-top: 25px;

   }

   .content .title {
    text-align: center;

   }

   .content .form-row {

    padding-top: 10px;

   }

   @media (max-width: 768px) {
    .content .title {

      padding-top: 10px;

    }
    

   }



